main{
    padding: 10px 30px;
}
addBookForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    gap: 12px;
}

button{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 6px;
    border: none;
    background-color: #F4631E;
    color: black;
    height: 40px;
    width: 100px;
}

ulBooksList {
    margin-bottom: 48px;
}

ulBooksListLi {
    color: #475467;
    line-height: 28px;
}

container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: #F0EFEB;
    padding: 10px 28px;
}

h3 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 24px;
}

p {
    color: #042362;
    font-size: 1rem;
    line-height: 20px;
}
.totalCount {
  font-weight: bold;
  color: #0070f3; 
  font-size: 1.2rem;
}