seacrhInput{
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    padding: 9px 13px;
    margin-right: 10px;
    height: 30px;
    width: 300px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0, 0.005);
    flex-grow: 1;
    min-width: 150px;
    max-width: 400px;
}